.principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 120px;
}

.secundario{
    display: flex;
    justify-content: center;
}

.titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
